.list-element-wrapper {
    display: flex;
    flex-direction: column;

    .list-element-row {
        display: flex;
        padding: 4px;
        align-items: center;

        .text-field {
            flex: 1;
            padding: 0 8px;
        }

        &:hover {
            background-color: lightblue;
        }

        .collapse-toggler {
            width: 25px;
            height: 25px;
            background-size: 25px 25px;
            background-image: url("../img/collapse-toggler.svg");
            cursor: pointer;
        }

        .expand-toggler {
            width: 25px;
            height: 25px;
            background-size: 25px 25px;
            background-image: url("../img/expand-toggler.svg");
            cursor: pointer;
        }
    }

    .list-element-content {
        padding-left: 100px;
    }
}