.main-page-container {
    flex: 1;
    display: flex;
    overflow-y: auto;

    .elements {
        flex: 1;
        border: 1px solid gray;
        padding: 4px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        .element-row {
            display: flex;
            padding: 4px;

            div {
                flex: 1;
            }
        }

        .source-elements, .target-elements {
            overflow-y: auto;
            flex: 1;
        }

        .source-elements {
            .source-element-wrapper {
                display: flex;
                align-items: center;

                .source-element-component {
                    flex: 1;
                }

                .source-element-match-count {
                    line-height: 25px;
                    padding: 0 8px;
                }
            }
        }

        .main-page-filter-warning {
            color: darkred;
        }

        
    }
}