<div class="main-page-container">
    <div class="elements">
        <div>
            Поиск вхождений: <input @input="onChangeSearchStr($event)"/>
            <span v-show="searchStr !== ''" class="main-page-filter-warning">*Сортирую от большего количества вхождений к меньшему</span>
        </div>
        <div class="source-elements">
            <div class="element-wrapper" v-for="sourceItem in filteredItems" :key="sourceItem.id">
                <list-element class="element-component" @add="onAddElement" :element="sourceItem" elementType="source"/>
                <div class="element-match-count" v-show="sourceItem.matchCount">{{sourceItem.matchCount}}</div>
            </div>
        </div>
    </div>
    <div class="elements target-elements">
        <div>
            <button @click="onRemoveAll()" :disabled="targetItems.length === 0">Удалить все записи</button>
            <button @click="onRemoveSelected()" :disabled="selectedTargetItems.length === 0">Удалить выбранные</button>
        </div>
        <div class="target-elements">
            <div class="element-wrapper" v-for="targetItem in targetItems" :key="targetItem.id">
                <input type="checkbox" @click="onSelectTargetItem($event, targetItem)"/>
                <list-element class="element-component" @remove="onRemoveElement" :element="targetItem" elementType="target"/>
            </div>
        </div>
    </div>
</div>